body{
    font-family: 'Poppins', sans-serif;
}

/* Head section design */

.head-section{
    background-color: #264653;
}
.head-section h3{
    color: white;
}
.head-paragraph{
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #E0E0E0;
}

.button-purchase{
    padding: 10px;
    width: 168px;
    height: 44px;
    left: 156px;
    top: 413px;
    background: #E76F51;
    border-radius: 5px;
    border: none;
}

/* End head section design */

/* Features section design  */
.features-heading{
    font-size: 48px;
}
.features-text{
    font-size: 14px;
    color: #E76F51;
}

.gray{
    filter: grayscale(100%);
}

/* end Features section design  */


/* Client section design */
.client-section{
    margin-top: 70px;
}
.client-text{
    font-size: 48px;
    font-weight: 600;
}
.client-say{
    color: #E76F51;
}

.client-image img{
    height: 149px;
    width: 149px;
    margin: auto;
    padding-top: 15px;
}

.review .star{
    color: #E77C40;
}

.review h5{
    color: #23A6F0;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

.review h4{
    color: #252B42;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}



/* FAQ section design */

.faq-text{
    font-size: 48px;
    font-weight: 600;
}
.faq-row{
    margin-top: 112px;
}

.faq-left img{
    width: 100%;
    height: 423px;
}


.accordian-box{
    border: 1px solid #D5E5FB;
    margin-bottom: 5px;
}

/* Bike Brands */
.bike-brands{
    margin-top: 60px;
}

.brand-logo img{
    height: 100px;
    width: 100%;
}
/* Footer section design */
.footer-section{
    /* height: 280px; */
    width: 100%;
    margin-top: 100px;
}

.footer-left{
    color: white;
    padding-top: 60px;

}
.footer-left-text h6{
    display: inline;
    padding-left: 20px;
}

.footer-right{
    color: white;
    padding-top: 60px;
    font-size: 45px;
}